@model IEnumerable<TranslateBot.Models.Phrase>

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
<p>
    <a>Local Base</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                Рандомный
            </th>
            <th>
               Высший эльфийский
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.src)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.dst)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.PhraseId })|            
                @Html.ActionLink("Delete", "Delete", new{ id = item.PhraseId })

            </td>
        </tr>
}
    </tbody>
</table>
</body>
</html>
